<section class="banner" role="banner" style="background-image: url(<%= asset_path('banner.jpg') %>);">
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>Beauty SPA</h1>
        <p>Lorem ipsum dolor sit ametcursus magna vel ipsum dolor sit amet scelerisque<br/>
          Lorem consectetur adipiscing elit.<br/> </p></div>
      <!-- banner text -->
    </div>
  </div>
</section>


<section id="intro" class="section intro">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Boost your Healt and Life</h3>
      <p>For some people, putting in the hard work that it takes to stay fit is as natural as sleeping, eating, and breathing—it's a necessary part of their life.So when you don't feel like you can finish another rep, or when you just don't want to get up for that 5 a.m. wakeup call, just remember these words of wisdom from some of the fittest men who have ever walked the earth</p>
    </div>
  </div>
</section>


