<footer class="footer">
  <div class="container-fluid">
    <div id="map-row" class="row">
      <div class="col-xs-12">
        <div id="map-overlay" class="row" style="">
          <div class="col-xs-6">
            <h2 style="margin-top:0;color:#fff;">Contact us</h2>
            <address style="color:#fff;">
              <strong>Company name</strong><br>
              1234 Street Dr.<br>
              Vancouver, BC<br>
              Canada<br>
              V6G 1G9<br>
              <abbr title="Phone">Tel:</abbr> (604) 555-4321
            </address>
            © 2020 Company Name. All Rights Reserved <br/>
          </div>
          <div class="col-xs-6">
            <h4 style="margin-top:0;color:#fff;">Menu</h4>
            <address style="">

              <ul class="">
                <li><a href="#gallery">My Activities</a></li>
                <li><a href="#intro">About</a></li>
              </ul>
            </address>
          </div>

        </div>
      </div>
    </div>
  </div>
</footer>
